<div class="dashboard-container">
    
        {{#each posts as |post| }}
        <a href="/api/dashboard/updatePost/{{post.id}}" class="dashboard-post">
            <p class="dashboard-postTitle"> {{post.title}}</p>
            <p class="dashboard-postDate"> {{format_date post.date_created}}</p>
        </a>
        {{/each}}
    
    <div class="footer">
        <a href="/api/dashboard/createPost" class="btn bg-black text-white newPostBtn">+ New Post</a>
    </div>
</div>