<div class="container post-container">
<div class="card postCard">
        <div class="card-header">
            <div class="">
            <h3 class="post-title"> {{post.title}}</h3>
                <div class="">
                <p class="postText">Posted by {{user.username}} on {{format_date post.date_created}}</p>
                </div>
            </div>
        </div>
        <div class="card-body">
            {{post.content}}
        </div>
    </div>
</div>