:root {
  --primary: #3d5852;
  --secondary: #86938f;
  --tertiary: #5e877f;
  --quatrinary: #6c6b67;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {
  padding: 40px;
  /* text-align: center; */
  background: var(--primary);
  color: var(--light);
}
.fontHeader{
background-color: rgb(209, 248, 208);
color: black;
width: fit-content;
padding-right: 10px;
padding-left: 10px;
margin-right: 25px;
border-radius: 0.3rem;
box-shadow: 6px 6px rgb(153, 152, 152);
font-size: 50px;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  background-color: rgb(209, 248, 208);
  
}

aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: left;
  color: var(--light);
}

nav {
  display: flex;
  background-color: var(--secondary);
  margin-bottom: 15px;
  gap: 10px;
  font-size: 25px;
  color: rgb(209, 248, 208);
}

nav a {
  color: var(--light);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* nav a:hover {
  color: var(--secondary);
  background-color: var(--light);
} */

.gallery {
  flex: 4;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.btn-no-style {
  background: none;
  border: none;
 color: rgb(209, 248, 208);
}
/* 
.btn-no-style:hover{
  text-decoration: underline;
  color: var(--secondary);
  background-color: var(--light);
} */

img {
  max-width: 100%;
  height: auto;
}

.painting {
  width: 50%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;;
  margin-bottom: 25px;
}

.painting-details {
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
}

/* CARDS */
/* .card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
} */

/* .login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: #577a7c;
  color: var(--light);
} */
.loginHeader{
color: black;
background-color: rgb(209, 248, 208);
}

.loginCard{
  width: 500%;
  margin-left: 55px;
  margin-top: 25px;
}

.loginBtn{
  font-size: 35px;
  height: 65px;
  font-weight: bold;
}

.signupBtn{
  font-weight: bold;
}

.postBtn{
  font-size: 30px;
  height: 65px;
  font-weight: bold;
}

.postText{
  font-size: 15px;
  /* margin-top: 8px; */
  float: right;
  /* display: inline-flex;  */
}
.post-title{
  float: left;
}

.post-title:not(.postCard1):hover {
  color: var(--quatrinary)
}

.postCard{
  width: 900px;
  margin-bottom: 45px;
  margin-left: 100px;
  height: 100%;
}

.card-header {
  padding: 0.375rem;
  background-color: black;
  color: #d9e9e8;
}

.card-body {
  font-size: 1.4rem;
  /* text-align: center;
  font-weight: bold; */
  padding: 5px;
  margin: 5px;
 
}

.post-card{
width: 100%;
border: 3px solid #1a1a1a;
  margin-bottom: 1rem;
  color: var(--quatrinary);
}

/* .postCard1:hover{
  color: var(--quatrinary);
} */


.gallery-name {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px var(--secondary);
  border: 10px groove var(--light);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 100px;
  padding-left: 100px;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  justify-content: center;
 
  margin-top: 15px;
}

.post-container{
padding-left: 350px;
}

textarea {
  width: 850px;
  height: 100px;
  margin-top: 15px;
}

.newPostBtn{
  font-size: 25px;
}

.dashboard-container{
  margin-top: 15px;
  display: flex;
  flex-flow: column wrap;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}